.timeline-row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  margin-top: 3%;
}


.timeline-col {
  flex: 1 1 45%;
  position: relative;
  padding-left: 30px;
}

.timeline-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 40px;
}
  
.timeline-icon {
  position: absolute;
  left: -18px;
  top: 8px;
  width: 25px;
  height: 25px;
  background-color: #082150;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #555;
  z-index: 2;
}
.timeline-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 150px; /* طول الخط */
  background-color: #082150;
  z-index: 1;
}

.timeline-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 2.2s forwards;
}

.year {
  color: #555;
  display: block;
  margin-bottom: 10px;
  font-size: 25px;  
}
  
.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 5px;
}
  
.company {
  color: #082150;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}
.job{
    color: #082150;
    font-size: 22px;
}  
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 991px) {

.timeline-row {
   display: block;
}
.timeline-col {
    margin-bottom: 16%;
}
}