.main-content {
  margin-left: 25%;
  padding: 0px ;
  background-color: var(--bg-color); 
  background-repeat: no-repeat; 
  min-height: 100vh;
  width: 100%;
}
.digital-section {
  padding: 80px 0;
  background-repeat: no-repeat; 
  background-size: cover;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.image-section {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 10px;
}

.laptop {
  width: 482px;
  position: relative;
  z-index: 1;
  box-shadow: 0 20px 40px rgba(155, 155, 155, 0.616); 
}

.tablet {
  width: 280px;
  position: absolute;
  top: 175px;
  left: 20px;
  z-index: 2;
  box-shadow: 0 20px 40px rgba(163, 163, 163, 0.74); 
}

.mobile {
  width: 180px;
  position: absolute;
  bottom: -65px;
  left: 190px;
  z-index: 3;
}

.person{
  width: 450px;
  position: relative;
  border-radius: 20%;  
}

.text-section {
  width: 45%;
  text-align: left;
}

.text-section h2 {
  font-size: 61px;
  color: var(--primary-color);
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Great Vibes', cursive;
}
.highlight-letter {
  font-size: 48px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--bg-color); 
  display: inline-block;
  margin: 0 2px;
  transition: transform 0.3s ease;
}

.highlight-letter:hover {
  transform: scale(1.2);
  -webkit-text-stroke: 1px var(--primary-color);
}


.text-section h2 span {
  color: var(--secondary-color);
}

.text-section p {
  color: var(--secondary-color);
  font-size: 26px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 14px 37px;
  font-size: 17px;
  font-weight: bolder;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translatex(40px);
  animation: slideDown 1s ease forwards;
  font-family: 'Great Vibes', cursive;
}

.btn.white {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  text-decoration: none;
}

.btn.red {
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

.btn:hover {
  opacity: 0.8;
  background-color: var(--primary-color);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1s ease forwards;
}

.laptop {
  animation: slideUp 1s ease forwards;
  animation-delay: 0s; 
}

.tablet {
  animation-delay: 0.5s;
}

.mobile {
  animation-delay: 1s;
}


.delay-6 {
  animation-delay: 2.5s; 
}
.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-section h2.slide-down {
  animation: slideDown 1s ease forwards;
  opacity: 0;
}
@keyframes slideRightToLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.text-section p.slide-left {
  animation: slideRightToLeft 1s ease forwards;
  opacity: 0;
}
@media (max-width: 1024px) {
  .main-content {
      width: 100%;
      margin: 0;
  }
  .text-section {
    margin-top: 0%;
}
.content-wrapper {
  flex-direction: column;
}
.image-section {
  border-radius: 50%;
  padding: 9% 0;
   width: 95%;

}
.text-section {
    width: 100%;
    text-align: left;
}
  .text-section h2 {
      font-size: 61px;
      width: 70%;
  }
  .text-section p {
    font-size: 42px;
  }
  .btn {
    font-size: 24px;
  }
.digital-section {
    padding: 0;
}
.laptop {
    width: 682px;
}
.tablet {
    width: 391px;
    top: 272px;
    left: 220px;
}
.mobile {
    width: 249px;
    bottom: -56px;
    left: 423px;
  }

.highlight-letter {
    font-size: 70px;
}
}
@media (max-width: 765px) {
  .main-content {
      width: 100%;
      margin: 0;
  }
  .text-section {
    margin-top: 2%;
}
.content-wrapper {
  flex-direction: column;
}
.image-section {
  border-radius: 50%;
  padding: 9% 0;
}
.text-section {
    width: 100%;
    text-align: left;
}
.text-section h2 {
    font-size: 48px;
}
.text-section p {
    font-size: 22px;
}
.highlight-letter {
    font-size: 48px;
  }
.digital-section {
    padding: 0;
}
.laptop {
    width: 382px;
}
.tablet {
    width: 213px;
    top: 156px;
    left: -10px;
}
.mobile {
    width: 151px;
    bottom: -25px;
    left: 77px;
  }
  .person {
    width: 409px;
    border-radius: 18%;
}
}