@import './Style/variables.css';
@import './Style/global.css';
.body{
    background-color: grey;
    overflow-x: hidden; 
}
html {
  scroll-behavior: smooth;
}

.container {
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  .main-content {
    width: 75%;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  @media (max-width: 1024px) {
.main-content {
    width: 100%;
    padding: 0 12px;
  }
}
